.header {
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(10,10,10, 0.3);
  color: white;
}

.button {
  margin-right: 15px;
}


.Appheader {
  background-color: transparent;
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-shadow: 0 0 10px black;
}

.Appheader > div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.body {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
  grid-template-rows: 50px minmax(calc(100vh - 80px), auto) 30px;
  background-image: url('https://assets-global.website-files.com/60ff690cd7b0537edb99a29a/645ec2124d154b74fb85af93_Entenda%20Como%20Surgiu%20o%20Dinheiro.jpg');
  z-index: 1;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}